{%extends 'base.html'%}

{%block titleblock%}
Blog Details
{%endblock%}

{%block bodyblock%}
<!-- <h1>BLOGS DETAILS: </h1> -->

<div class="container">
    <div class="container">
        <h3><u><b>{{blog_model.title}}</b></u></h3>
        <h5>Author : {{blog_model.author}}</h5>
        <p>Category : {{blog_model.category}}</p>
        <p>Created at : {{blog_model.created_at}}</p>
        <br>
        <img src="/media/{{blog_model.blog_pic}}" height="500" width="500">
        <br>
        <br>
        <div class="container">
            <p>{{blog_model.content}}</p>

        </div>



    </div>



</div>

{%if user.is_authenticated%}
<div class="container">
    <h4><b><i><u>Comments Section: </u></i></b></h4>
    <div class="container">
        <form method="post">
            {%csrf_token%}
            {{form.as_p}}
            <button class="btn btn-outline-dark" type="submit">Comment!!</button>
        </form>
    
    <div class="container">
        {%for comment in comment_model%}
        <h6><b><u>{{comment.user}}</u></b></h6>
        <p>{{comment.comment}}</p>
        {%empty%}
        <p><b>No Comments!</b></p>
        {%endfor%}


    </div>

    </div>




</div>
{%endif%}
{%endblock%}